<div class="container-fluid">
    <div class="columns-block container">
        <h1>Enter persons info</h1>
        <form (ngSubmit)=enterInfo(personForm) #personForm="ngForm">
            <!-- ne zaboravi da dodas ng submit i #personForm ili sta vec -->
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="firstName">First name</label>
                    <input required type="text" class="form-control" ngModel name="firstName" placeholder="First name">
                </div>
                <div class="form-group col-md-4">
                    <label for="lastName">Last name</label>
                    <input required type="text" class="form-control" ngModel name="lastName" placeholder="Last name">
                </div>
                <div class="form-group col-md-4">
                    <label for="imageUrl">Image URL</label>
                    <input type="text" class="form-control" ngModel name="imageURL" placeholder="Image URL">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input required type="email" class="form-control" ngModel name="email" placeholder="Email">
                </div>
                <div class="form-group col-md-4">
                    <label for="linkedIn">LinkedIn profile URL</label>
                    <input required type="text" class="form-control" ngModel name="linkedIn" placeholder="linkedIn">
                </div>
                <div class="form-group col-md-4">
                    <label for="jobTitle">Job title</label>
                    <input required type="text" class="form-control" ngModel name="jobTitle" placeholder="Job title">
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress">Address line 1</label>
                <input required type="text" class="form-control" ngModel name="address1" placeholder="Address line 1">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address line 2</label>
                <input type="text" class="form-control" ngModel name="address2" placeholder="Address line 2">
            </div>
            <div class="form-group">
                <label for="textArea">Summary</label>
                <textarea required class="form-control" ngModel name="summary" rows="3"></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="skill1">Skill 1</label>
                    <input type="text" class="form-control" ngModel name="skills[0].name" placeholder="Skill1">
                </div>
                <div class="form-group col-md-6">
                    <label for="knowledge1">Knowledge</label>
                    <input type="number" class="form-control" ngModel name="skills[0].knowledge"
                        placeholder="Knowledge1">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="skill2">Skill 2</label>
                    <input type="text" class="form-control" ngModel name="skills[1].name" placeholder="Skill2">
                </div>
                <div class="form-group col-md-6">
                    <label for="knowledge2">Knowledge</label>
                    <input type="number" class="form-control" ngModel name="skills[1].knowledge"
                        placeholder="Knowledge2">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="skill3">Skill 3</label>
                    <input type="text" class="form-control" ngModel name="skills[2].name" placeholder="Skill3">
                </div>
                <div class="form-group col-md-6">
                    <label for="knowledge3">Knowledge</label>
                    <input type="number" class="form-control" ngModel name="skills[2].knowledge"
                        placeholder="Knowledge3">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
<hr>

<body *ngIf="person !== undefined">
    <div class="columns-block container">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{person.firstName}} {{person.lastName}}</h1>
                    <span>{{person.jobTitle}}</span>
                </div>
                <div class="col-md-6">
                    <img src={{person.imageURL}} class="img-responsive">
                </div>
            </div>
        </div>
        <div>
            <p>
                {{person.summary}}
            </p>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Skills</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngFor="let skill of person.skills">
                    <span>{{skill.name}}</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.knowledge}}"
                            aria-valuemin="0" aria-valuemax="100" style="width: {{skill.knowledge}}%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contact</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <address>
                        <strong>Address</strong><br>
                        {{person.address1}}<br>
                        {{person.address2}}
                    </address>
                    <address>
                        <strong>Email</strong>
                        <a href="mailto:{{person.email}}">{{person.email}}</a>
                    </address>

                    <address>
                        <a href="{{person.linkedIn}}">
                            <button type="button" class="btn btn-outline-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z">
                                    </path>
                                </svg>
                                <span class="visually-hidden">{{person.firstName}} {{person.lastName}}</span>
                            </button>
                        </a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</body>